.final {
  transform: none;
  flex-direction: column;
  width: 550px;
  border: 1px solid $black;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
  .top {
    flex-direction: column;
    border-bottom: 3px solid black;
    justify-content: space-around;
    padding: 1%;
  }
  .edHolder {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-bottom: 3px solid black;
    padding: 0.5em;
    .edTitle {
      text-decoration: underline;
    }
    .ed {
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      border-bottom: 1px solid grey;
      padding: 1%;
    }
  }
  .proHolder {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0.5em;
    width: 100%;
    .proTitle {
      text-decoration: underline;
    }
    .pro {
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 1%;
    }
  }
}

// Modal

.hidden {
  visibility: hidden;
}

.modal {
  position: absolute;
  width: 100%;
  height: 93%;
  background-color: grey;
  justify-content: center;
}

.modalMessage {
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
  div {
    width: 100%;
    padding: 1%;
    justify-content: space-around;
  }
}
